.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  background: url(./img/daniel-sessler-RroF6oJ_eDM-unsplash.jpg) center center;
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    font-size: 40px;
    color: $white-100;
  }
}
.sample {
  width: 400px;
  height: 400px;
  background: url('./images/k-hsu-gSpEtTQcRrw-unsplash.jpg');
  background-size: cover;
  color: red;
}
