$black-087: rgba(0,0,0,0.87);
$black-054: rgba(0,0,0,0.54);
$black-026: rgba(0,0,0,0.26);
$black-012: rgba(0,0,0,0.12);
$black-005: rgba(0,0,0,0.05);

$white-100: rgba(255,255,255,1.00);
$white-070: rgba(255,255,255,0.70);
$white-030: rgba(255,255,255,0.30);
$white-012: rgba(255,255,255,0.12);
