/*
** media query
** break pointはtwitter bootstrapに準拠
*/

$mq-breakpoints: (
  'xs': 320px,
  'sm': 600px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
);

@mixin mq($breakpoint: md) {
  @media screen and (min-width: #{map-get($mq-breakpoints, $breakpoint)}) {
    @content;
  }
}

/*
** space scale
** 基準となるスペーシング * フィボナッチ数
*/
$space-unit: 0.5rem;
$space-1: $space-unit; // 8px
$space-2: $space-unit * 2; // 16px
$space-3: $space-unit * 3; // 24px
$space-4: $space-unit * 5; // 40px
$space-5: $space-unit * 8; // 64px
$space-6: $space-unit * 13; // 104px

.l-container {
  width: 100%;
  padding: 0 $space-2;
  margin: 0 auto;

  @include mq(md) {
    max-width: 1060px;
    padding: 0 $space-5;
  }

  @include mq(lg) {
  }
}
