$fs-default: 16px;

// 調和数列(1, 1/2, 1/3, 1/4, 1/5, 1/6 ...)に従ってfont scaleを定義
$fs-scale: 8;

$fs-l4: $fs-default * $fs-scale / 4; // 2rem
$fs-l3: $fs-default * $fs-scale / 5; // 1.6rem
$fs-l2: $fs-default * $fs-scale / 6; // 1.33333rem
$fs-l1: $fs-default * $fs-scale / 7; // 1.14286rem
$fs-m: $fs-default;
$fs-s1: $fs-default * $fs-scale / 9; // 0.88889rem
$fs-s2: $fs-default * $fs-scale / 10; // 0.8rem
